---
title: Figures
layout: default
isPage: true
pageOrder: 6
---
    
.symptom-graph-figure.symptom-graph-reports.symptom-graph-labels(disease="h7n9") Loading figure...
#multi-panel-plot
  .symptom-graph-figure(disease="dengue") Loading figure...
  .symptom-graph-figure(disease="malaria") Loading figure...
  .symptom-graph-figure(disease="melioidosis") Loading figure...
  .symptom-graph-figure(disease="typhoid") Loading figure...
  .symptom-graph-figure(disease="chikungunya") Loading figure...
  .symptom-graph-figure(disease="plague") Loading figure...
  .symptom-graph-figure(disease="h7n9") Loading figure...
  .symptom-graph-figure(disease="novel coronavirus") Loading figure...
  .symptom-graph-figure(disease="nipah") Loading figure...
  .symptom-graph-figure(disease="h1n1") Loading figure...
  .symptom-graph-figure(disease="japanese encephalitis") Loading figure...

.cumulative-symptom-figure(diseases="h7n9,novel coronavirus,dengue,yellow fever") Loading figure...

#controls
  span Disease&nbsp;&nbsp;
  input#disease-field(type="text")
#graph