body
  color #bcbcbc
  overflow scroll

body a
    font 12px/1.4 "Lucida Grande", Arial, sans-serif
    background black
    color #ccc

.symptom-graph-figure, #graph
  width 300px
  height 400px
  margin-left 100px
  margin-right 50px
  margin-bottom 50px

.symptom-graph-figure.symptom-graph-reports
  width 600px

#multi-panel-plot .symptom-graph-figure
  float left
  margin 20px

.figure-title
  stroke #555

#controls
  clear both

#disease-field
  margin-bottom 30px