doctype 5
html(lang="en")
  head
    title Symptom Evolution
    link(rel="stylesheet", href="../lib/jqueryui.css")
    link(rel="stylesheet", href="style.css")
  body
    h1 Symptom Evolution in the Digital Ecosystem
 
    h2 Discussion

    p
      | Generalize the model

    h3 Sources of uncertainty

    ul
      li Lag in symptom presentation characterize by disease
      li Lag in reporting is regional (detect by same disease different country)
      li lag in cases (n) due to physiology or diffs between groups (age, race, gender). This should be anotated