doctype 5
html(lang="en")
  head
    title Symptom Evolution
    link(rel="stylesheet", href="../lib/jqueryui.css")
    link(rel="stylesheet", href="style.css")
  body
    h1 Symptom Evolution in the Digital Ecosystem
 
    h2 Figure 1
    h3 Conceptual diagram 
    ul
      li Show the epidemic curve and trying to get ahead
      li x = time
      li y = # of cases

    h2 Figure 2
    h3 Multi plot
    ul
      li x = time
      li y = symptoms (horizontal bars) = no labels
      li Lattice plot with ~12 candidate diseases
      li Put the names in the appendix
      li Allow user to click and expand a plot


    h2 Figure 3
    h3 Comparative plot
    ul
      li x = time
      li y = symptoms (horizontal bars) = labels
      li Compare 2 (or more) contrasting outbreaks
      e.g. H7N9 and MERS

    h2 Figure 4 
    h3 Generalized model
    ul
      li x = time
      li y = # of symptoms (curve)
      li Model built upon ProMED
      li Contrain uncertain and improve predictive power
      li generate a Bayesian prior by disease category
      li Theoretical max # of symptoms
      li Effort x discovery (~discovery curve)
      li How many samples

    h2 Figure 5
    h3 Communities of symptoms
    ul
      li x = time
      li y = # of symptoms
      li Have curves for social media, news media, and scientific literature
      li show the social media pushing us ahead of the curve

    h2 Figure OPT
    h3 Mo' data
    ul
      li x = time
      li y = # of symptoms
      li Can we shift the curve to the left by adding more data sources

    h2 Figure OPT
    h3 Golden Symptom
    ul
      

