doctype 5
html(lang="en")
  head
    title Symptom Evolution
    link(rel="stylesheet", href="../lib/jqueryui.css")
    link(rel="stylesheet", href="style.css")
  body
    h1 Symptom Evolution
    .symptom-graph-figure(disease="h7n9") Loading figure...
    .symptom-graph-figure(disease="novel coronavirus") Loading figure...

    .cumulative-symptom-figure(diseases="h7n9,novel coronavirus,dengue,yellow fever") Loading figure...

    #controls
      span Disease&nbsp;&nbsp;
      input#disease-field(type="text")
    #graph

    script(src="../lib/jquery.js")
    script(src="../lib/jqueryui.js")
    script(src="../lib/underscore.js")
    script(src="../lib/d3.js")
    script(src="promed.js")
    script(src="symptom_graph_figure.js")
