doctype 5
html(lang="en")
  head
    title Symptom Evolution
    link(rel="stylesheet", href="../lib/jqueryui.css")
    link(rel="stylesheet", href="style.css")
  body
    h1 Symptom Evolution
    #controls
      span Disease&nbsp;&nbsp;
      input#disease-field(type="text")
    #reports
    #graph

    script(src="../lib/jquery.js")
    script(src="../lib/jqueryui.js")
    script(src="../lib/underscore.js")
    script(src="../lib/d3.js")
    script(src="index.js")
