doctype 5
html(lang="en")
  head
    title Symptom Evolution
    link(rel="stylesheet", href="../lib/jqueryui.css")
    link(rel="stylesheet", href="style.css")
  body
    h1 Symptom Evolution in the Digital Ecosystem
 
    h2 Introduction

    p.
      Goal - Get ahead of the epidemic curve

    h3 Candidate Hypotheses

    ul
      li There is an asymptopte for symptom evolution
      li There is an underlying 'rule' for determining certainty
      li With more 'effort' (e.g. data sources, reports) evolution is faster
      li Symptom evolution is faster in countries with high GDP
      li Symptom evolution differs by disease 'family'

