doctype 5
html(lang="en")
  head
    title Symptom Evolution
    link(rel="stylesheet", href="../lib/jqueryui.css")
    link(rel="stylesheet", href="style.css")
  body
    h1 Symptom Evolution in the Digital Ecosystem
 
    h2 Methods

    ul
      li Scrape Promed
      li Gather symptoms from GIDEON
      li Auto tag text
      li Manually curate text