doctype 5
html(lang="en")
  head
    title Symptom Evolution
    link(rel="stylesheet", href="../lib/jqueryui.css")
    link(rel="stylesheet", href="style.css")
  body
    h1 Symptom Evolution in the Digital Ecosystem
 
    h2 Questions

  p.
    Why do symptoms disappear?
    ul
      li does terminology change (look at symptom ontology for synonyms)
      li diffs by outbreak (H7 but not MERS)

  p.
    Why infrequent (oxxoxxxooo)
    ul
      li check articles by subsample and read

  p. 
    Pick 2 or 3 outbreaks for comparative figure

  p.
    Is there a golden symptom for each disease
    One that distinguishes it from all others
    Machine learning principle axis approach