body
  color #bcbcbc
  overflow scroll

.symptom-graph-figure
  width 600px
  height 400px
  margin-left 100px
  margin-right 50px
  margin-bottom 50px
  float left

.figure-title
  stroke #555

#controls
  clear both

#disease-field
  margin-bottom 30px