doctype 5
html(lang="en")
  head
    title Symptom Evolution
    link(rel="stylesheet", href="../lib/jqueryui.css")
    link(rel="stylesheet", href="style.css")
  body
    h1 Symptom Evolution in the Digital Ecosystem
 
    h2 Table 1
    ul
      li List reports & text
      li Human curated

    h2 Table 2
    h3 Bayesian certainty priors by disease
    ul
      li columns = (disease, prior, model term)
      li rows = diseases