doctype 5
html(lang="en")
  head
    title Symptom Evolution
    != getBlock('styles').add(site.styles).toHTML()
  body
    h1= site.title
    p: a(href="../index.html") Outline
    .content!= content
    != getBlock('scripts').add(site.scripts, {defer: false}).toHTML()