doctype 5
html(lang="en")
  head
    title Symptom Evolution
    != getBlock('styles').add(site.styles).toHTML()
  body
    ul
      each doc in getCollection('pages').toJSON()
            &nbsp; &nbsp;
            a(href=doc.url)= doc.title
    h1= site.title
    h2= document.title
    .content!= content
    != getBlock('scripts').add(site.scripts, {defer: false}).toHTML()